{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list">
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_facebook_link }}" class="link list-social__link">
        {%- render 'icon-facebook' -%}
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_pinterest_link }}" class="link list-social__link">
        {%- render 'icon-pinterest' -%}
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_instagram_link }}" class="link list-social__link">
        {%- render 'icon-instagram' -%}
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_youtube_link }}" class="link list-social__link">
        {%- render 'icon-youtube' -%}
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  <li class="list-social__item">
    <a target="_blank" href="https://discord.gg/hZGdhfrsFu?ref=yz27i41q" class="link list-social__link">
      <svg width="19" height="18" viewBox="0 0 19 18" fill="none" class="icon icon-youtube" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3161_1834)">
          <path d="M15.3567 3.33107C14.2144 2.79726 12.9973 2.41292 11.7268 2.18872C11.5667 2.4663 11.3852 2.85064 11.2571 3.14957C9.90121 2.94673 8.55601 2.94673 7.23217 3.14957C7.11473 2.85064 6.92256 2.4663 6.76242 2.18872C5.49196 2.40224 4.27487 2.79726 3.13253 3.33107C0.837152 6.80082 0.207259 10.1958 0.527543 13.5268C2.05423 14.6691 3.52754 15.3524 4.9795 15.8115C5.34249 15.3204 5.66277 14.7973 5.92968 14.2421C5.40655 14.0393 4.90477 13.7937 4.42434 13.5161C4.55245 13.42 4.66989 13.324 4.78733 13.2279C7.68057 14.5837 10.83 14.5837 13.6912 13.2279C13.8087 13.324 13.9368 13.4307 14.0542 13.5161C13.5738 13.8044 13.072 14.0499 12.5489 14.2528C12.8265 14.8079 13.1468 15.3311 13.4991 15.8222C14.951 15.3738 16.435 14.6798 17.951 13.5375C18.346 9.66203 17.3532 6.29904 15.3567 3.33107ZM6.3247 11.477C5.45993 11.477 4.74463 10.6656 4.74463 9.67271C4.74463 8.67982 5.43858 7.86844 6.3247 7.86844C7.21082 7.86844 7.92612 8.67982 7.90477 9.67271C7.90477 10.6656 7.21082 11.477 6.3247 11.477ZM12.1752 11.477C11.3105 11.477 10.5952 10.6656 10.5952 9.67271C10.5952 8.67982 11.2891 7.86844 12.1752 7.86844C13.0614 7.86844 13.7767 8.67982 13.7553 9.67271C13.7553 10.6656 13.0614 11.477 12.1752 11.477Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_3161_1834">
          <rect width="18" height="18" fill="white" transform="translate(0.25)"/>
          </clipPath>
        </defs>
      </svg>
      <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
    </a>
  </li>
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_tiktok_link }}" class="link list-social__link">
        {%- render 'icon-tiktok' -%}
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  
  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_twitter_link }}" class="link list-social__link">
        {%- render 'icon-twitter' -%}
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_snapchat_link }}" class="link list-social__link">
        {%- render 'icon-snapchat' -%}
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_tumblr_link }}" class="link list-social__link">
        {%- render 'icon-tumblr' -%}
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item">
      <a target="_blank" href="{{ settings.social_vimeo_link }}" class="link list-social__link">
        {%- render 'icon-vimeo' -%}
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  <li class="list-social__item">
    <a target="_blank" href="https://open.spotify.com/user/31vgy23zgn37aqh6bt6wwt2fvhoe?si=9c5ac10b0052423c&ref=yz27i41q" class="link list-social__link">
      <svg width="19" height="18" viewBox="0 0 19 18" class="icon icon-youtube" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_3161_1846)">
        <path d="M9.24993 0.000135C4.27949 0.000135 0.25 4.02949 0.25 8.99993C0.25 13.9705 4.27949 17.9997 9.24993 17.9997C14.2209 17.9997 18.25 13.9706 18.25 8.99993C18.25 4.02976 14.2209 0.000540001 9.2498 0.000540001L9.24993 0V0.000135ZM13.3773 12.9806C13.2161 13.2449 12.8701 13.3289 12.6056 13.1664C10.4926 11.8757 7.83243 11.5834 4.69961 12.2992C4.39775 12.3679 4.09683 12.1788 4.02798 11.8768C3.95886 11.5748 4.14732 11.2739 4.45 11.2052C7.87833 10.4219 10.819 10.7591 13.1914 12.2089C13.4559 12.3712 13.5397 12.7161 13.3773 12.9806ZM14.4789 10.53C14.2757 10.8601 13.8437 10.9643 13.5138 10.7613C11.0946 9.27425 7.40704 8.8436 4.54558 9.71233C4.17446 9.82438 3.78255 9.61526 3.66996 9.24482C3.55818 8.87371 3.76743 8.48261 4.13787 8.36975C7.40637 7.37804 11.4697 7.85837 14.2479 9.56558C14.5779 9.76876 14.6821 10.2008 14.479 10.5303V10.5302L14.4789 10.53ZM14.5735 7.97825C11.6728 6.25538 6.88716 6.09702 4.11776 6.93753C3.67307 7.0724 3.20273 6.82143 3.068 6.37661C2.93327 5.93164 3.1841 5.46171 3.62906 5.32657C6.80818 4.36146 12.093 4.54789 15.4327 6.53051C15.8335 6.76797 15.9647 7.28448 15.7271 7.68395C15.4906 8.08395 14.9726 8.21585 14.5739 7.97825H14.5735Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_3161_1846">
        <rect width="18" height="18" fill="white" transform="translate(0.25)"/>
        </clipPath>
        </defs>
      </svg>        
      <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
    </a>
  </li>
</ul>
