<div class="page-width work_new_page m_top">
    <div class="mar_pos">  <img src="{{ section.settings.bg_image | img_url: 'master' }}" class="back_img_l" alt="img" height="" width="" /> 
    <div class="image_text_data d-flex align-items-center">
    <div class="dis_text">
    {% if section.settings.text != blank %}<h2 class="text-align">{{ section.settings.text }}</h2> {% endif %}
    {% if section.settings.textarea != blank %}<p class="text-align-center">{{ section.settings.textarea }}</p> {% endif %}
    {% if section.settings.schedula_text != blank %}<a href="{{ section.settings.schedula_url }}" target="_blank" class="btn font-family-Neuzeit font-weight-700 font-size-18px line-height-21px color-black-000 letter-spacing-0px bg-color-off-white border-light-black-000 border-1px border-radius-37px">{{ section.settings.schedula_text }}</a> {% endif %}
    {% if section.settings.text_dis != blank or section.settings.discun_code != blank or section.settings.image_picker != blank %}
    <div class="discound_code">
    {% if section.settings.text_dis != blank %} <p> {{ section.settings.text_dis }} </p> {% endif %}
    <div class="discound_btn">
    {% if section.settings.discun_code != blank %}   
    <p class="discound_code"><span><input type="text" value ="{{  section.settings.discun_code }}" id="discound_co" ></span>
    <img src = "{{ section.settings.image_picker | image_url : width : 40 }}" alt="img" width='' height='' loading="lazy">  </p>
    {% endif %}
    </div>
    </div>
    {% endif %}
    <div class="product_appears">
    {% for i in (1..3) %}
      {% assign product_count  =  'product_' | append : i %}
      {% assign prod_title = 'title_' | append : i %}
      {% assign product = section.settings[product_count] %}
      {% assign product_title = section.settings[prod_title] %}
     {% if product %}
       {% if section.settings.product.featured_image != blank %}
      <div class="product_data">
      <div class="product_img"> <a href="{{ product.url }}"> <img src="{{ product.featured_image | image_url : width: 250 }}" width="" height="" alt="img" loading="lazy" /> </a></div>
      <p><a href="{{ product.url }}">{% if product_title != blank %}<span>{{ product_title }}</span> {% else %}<span>{{ product.title }}</span>{% endif %}</a></p><br>
      </div>
         {% endif %}
      {% endif %}
    {% endfor %}
    </div>
    </div>
    <div class="di_im"> <img src="{{ section.settings.Image | img_url: 'master' }}" height="" width="" alt="img" /></div>
    </div>  </div>  </div>
    {% schema %}
     {
     "name": "Demo Schedule",
    "class": "demo_schedule",
    "settings": [ {
    "type" : "image_picker",
    "id" : "bg_image",
    "label" : "Background Image"
    },
    {
    "type" : "text",
    "id" : "text",
    "label": "Text"
    },
    {
    "type" : "image_picker",
    "id" : "Image",
    "label": "Image"
    },
    {
    "type" : "richtext",
    "id": "textarea",
    "label": "Textarea"
    },
    {
    "type" : "text",
    "id" : "schedula_text",
    "label": "Button Text"
    },
    {
    "type" : "url",
    "id" : "schedula_url",
    "label": "Button URL"
    },
    {
    "type" : "text",
    "id" : "text_dis",
    "label": "Text"
    },
    {
    "type" : "text",
    "id" : "discun_code",
    "label": "Discound Code"
    },
    {
    "type" : "image_picker",
    "id" : "image_picker",
    "label": "Image of copy"
    },
    {
    "type" : "product",
    "id" : "product_1",
    "label": "Product1"
    },
    {
    "type" : "text",
    "id" : "title_1",
    "label": "Product Title1"
    },
    {
    "type" : "product",
    "id" : "product_2",
    "label": "Product2"
    },
    {
    "type" : "text",
    "id" : "title_2",
    "label": "Product Title2"
    },
    {
    "type" : "product",
    "id" : "product_3",
    "label": "Product3"
    },
    {
    "type" : "text",
    "id" : "title_3",
    "label": "Product Title3"
    }
    ],
    "presets": [
    {
    "name": "Demo Schedule",
    "category": "Demo Schedule"
    }
    ]
    }
    {% endschema %}
    
    {% stylesheet %}
    {% endstylesheet %}
    
    {% javascript %}
    {% endjavascript %}
    <style>
        .demo_schedule .image_text_data {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .mar_pos {
            position:relative;
            line-height:0px;
        }
        .dis_text {
            width: 52%;
            padding-left: 28px;
        }
        .di_im {
            width: 48%;
        }
        .demo_schedule .image_text_data .dis_text a {
            padding: 11px 36.5px;
            text-transform: uppercase;
            margin-top: 30px;
            display: inline-block;
        }
        .demo_schedule .image_text_data .dis_text h2 {
            margin-right: -25%;
            text-align: start !important;
        }
        .demo_schedule .image_text_data .dis_text p {
            margin: 0;
        }
        img.back_img_l {
            width: 100%;
        }
        .di_im img {
            width:auto;
        }
        @media (max-width: 1366px){
            .demo_schedule .image_text_data .di_im {
                max-width: 84%;
                margin-bottom: 0;
                margin-top: auto;
                height: -webkit-fill-available;
            }
            .di_im img{
                height: -webkit-fill-available;
            }
        }
        @media (max-width: 749px){
            .demo_schedule .image_text_data .dis_text h2{
                margin-right: 0;
            }
            .demo_schedule .image_text_data .di_im {
                margin: auto;
                height: auto;
            }
            .demo_schedule .image_text_data {
                flex-direction: column;
            }
            .dis_text {
                width: 100%;
                padding: 15px !important;
            }
            .demo_schedule .mar_pos .back_img_l {
                display: none;
            }
            .demo_schedule .mar_pos {
                background-color: #f6f3ee;
                border: 1px solid #7FA9A4;
                border-radius: 20px;
            }
            .demo_schedule .image_text_data {
                position: unset;
                display: block;
            }
            .di_im img {
                height:auto;
                width:auto;
                max-width: 100%;
                max-height: 100%;
            }
            .di_im {
                width:100%;
            }
            .demo_schedule .image_text_data .dis_text a {
                padding: 10px 30px;
                display: table;
                margin: 15px auto 0;
            }
        }
        @media (max-width: 480px){
            .demo_schedule .image_text_data .dis_text h2 {
                font-size: 22px;
                text-align: center !important;
            }
        }
    </style>