{{ 'customer.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{% render 'breadcrumbs' %}
{%- paginate customer.addresses by 5 -%}
  <div class="customer page-width-addresses addresses section-{{ section.id }}-padding" data-customer-addresses>
    <svg style="display: none">
      <symbol id="icon-caret" viewBox="0 0 10 6">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
      </symbol>
    </svg>
    <h1 class="color-dark-black font-family-Neuzeit font-size-43px letter-spacing-0px line-height-1-2-px font-weight-200">{{ 'customer.addresses.title' | t }}</h1>
    <a class="color-dark-black text-decoration-none add_a_address padding-10px-18px font-family-Neuzeit Grotesk font-weight-700 font-size-18px line-height-21px color-black-000 letter-spacing-0px bg-color-off-white border-1px border-light-black-000 border-radius-37px text-transform-capitalize" href="{{ routes.account_url }}">
      {{ 'customer.account.return' | t }}
    </a>

    <div data-address>
      <button
        type="button"
        aria-expanded="false"
        aria-controls="AddAddress"
        class="add_a_address padding-10px-18px font-family-Neuzeit Grotesk font-weight-700 font-size-18px line-height-21px color-black-000 letter-spacing-0px bg-color-off-white border-1px border-light-black-000 border-radius-37px text-transform-capitalize"
      >
        {{ 'customer.addresses.add_new' | t }}
      </button>
      <div id="AddAddress">
        <!-- <h2 class="add_new_address" id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2> -->
        {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
          <div class="field">
            <input
              type="text"
              id="AddressFirstNameNew"
              name="address[first_name]"
              value="{{ form.first_name }}"
              autocomplete="given-name"
              placeholder="{{ 'customer.addresses.first_name' | t }}"
            >
            <label for="AddressFirstNameNew" class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px">{{ 'customer.addresses.first_name' | t }}</label>
          </div>
          <div class="field">
            <input
              type="text"
              id="AddressLastNameNew"
              name="address[last_name]"
              value="{{ form.last_name }}"
              autocomplete="family-name"
              placeholder="{{ 'customer.addresses.last_name' | t }}"
            >
            <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
          </div>
          <div class="field">
            <input
              type="text"
              id="AddressCompanyNew"
              name="address[company]"
              value="{{ form.company }}"
              autocomplete="organization"
              placeholder="{{ 'customer.addresses.company' | t }}"
            >
            <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
          </div>
          <div class="field">
            <input
              type="text"
              id="AddressAddress1New"
              name="address[address1]"
              value="{{ form.address1 }}"
              autocomplete="address-line1"
              placeholder="{{ 'customer.addresses.address1' | t }}"
            >
            <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
          </div>
          <div class="field">
            <input
              type="text"
              id="AddressAddress2New"
              name="address[address2]"
              value="{{ form.address2 }}"
              autocomplete="address-line2"
              placeholder="{{ 'customer.addresses.address2' | t }}"
            >
            <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
          </div>
          <div class="d-flex align-items-baseline justify-content-space-between flex-wrap-wrap">
            <div class="field city_country">
              <input
                type="text"
                id="AddressCityNew"
                name="address[city]"
                value="{{ form.city }}"
                autocomplete="address-level2"
                placeholder="{{ 'customer.addresses.city' | t }}"
              >
              <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
            </div>
            <div class="city_country city_country_mobile">
              <label class="letter-spacing-0px font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
              <div class="select">
                <select
                  id="AddressCountryNew"
                  name="address[country]"
                  data-default="{{ form.country }}"
                  autocomplete="country"
                >
                  {{ all_country_option_tags }}
                </select>
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                  <use href="#icon-caret" />
                </svg>
              </div>
            </div>
          </div>
          <div class="province_container" id="AddressProvinceContainerNew">
            <label class="letter-spacing-0px font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
            <div class="select">
              <select
                id="AddressProvinceNew"
                name="address[province]"
                data-default="{{ form.province }}"
                autocomplete="address-level1"
              ></select>
              <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                <use href="#icon-caret" />
              </svg>
            </div>
          </div>
          <div class="field">
            <input
              type="text"
              id="AddressZipNew"
              name="address[zip]"
              value="{{ form.zip }}"
              autocapitalize="characters"
              autocomplete="postal-code"
              placeholder="{{ 'customer.addresses.zip' | t }}"
            >
            <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
          </div>
          <div class="field">
            <input
              type="tel"
              id="AddressPhoneNew"
              name="address[phone]"
              value="{{ form.phone }}"
              autocomplete="tel"
              placeholder="{{ 'customer.addresses.phone' | t }}"
            >
            <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
          </div>
          <div>
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
          </div>
          <div class="d-flex  align-items-center">
            <button class="btn_add_address d-block padding-10px-18px font-family-Neuzeit Grotesk font-weight-700 font-size-18px line-height-21px color-black-000 letter-spacing-0px bg-color-off-white border-1px border-light-black-000 border-radius-37px text-transform-capitalize">{{ 'customer.addresses.add' | t }}</button>
            
            <button class="m-0px p-0px font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
          </div>
        {%- endform -%}
      </div>
    </div>

    <ul role="list" class="main_address_list">
      {%- for address in customer.addresses -%}
        <li data-address class="address_list">
          {%- if address == customer.default_address -%}
            <h2 class="font-family-Neuzeit font-size-20px font-weight-200 letter-spacing-0px line-height-1-2-px">{{ 'customer.addresses.default' | t }}</h2>
          {%- endif -%}
          {{ address | format_address }}
          <button
            type="button"
            id="EditFormButton_{{ address.id }}"
            aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
            aria-controls="EditAddress_{{ address.id }}"
            aria-expanded="false"
            data-address-id="{{ address.id }}"
            class="edit_delete font-family-Neuzeit Grotesk font-weight-700 font-size-18px line-height-21px color-black-000 letter-spacing-0px bg-color-off-white border-1px border-light-black-000 border-radius-37px text-transform-capitalize"
          >
            {{ 'customer.addresses.edit' | t }}
          </button>
          <button
            type="button"
            aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
            data-target="{{ address.url }}"
            data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
            class="edit_delete font-family-Neuzeit Grotesk font-weight-700 font-size-18px line-height-21px color-black-000 letter-spacing-0px bg-color-off-white border-1px border-light-black-000 border-radius-37px text-transform-capitalize"
          >
            {{ 'customer.addresses.delete' | t }}
          </button>
          <div id="EditAddress_{{ address.id }}">
            <h2 class="edit_addresses">{{ 'customer.addresses.edit_address' | t }}</h2>
            {%- form 'customer_address', address -%}
              <div class="field">
                <input
                  type="text"
                  id="AddressFirstName_{{ form.id }}"
                  name="address[first_name]"
                  value="{{ form.first_name }}"
                  autocomplete="given-name"
                  placeholder="{{ 'customer.addresses.first_name' | t }}"
                >
                <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressLastName_{{ form.id }}"
                  name="address[last_name]"
                  value="{{ form.last_name }}"
                  autocomplete="family-name"
                  placeholder="{{ 'customer.addresses.last_name' | t }}"
                >
                <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressCompany_{{ form.id }}"
                  name="address[company]"
                  value="{{ form.company }}"
                  autocomplete="organization"
                  placeholder="{{ 'customer.addresses.company' | t }}"
                >
                <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressAddress1_{{ form.id }}"
                  name="address[address1]"
                  value="{{ form.address1 }}"
                  autocomplete="address-line1"
                  placeholder="{{ 'customer.addresses.address1' | t }}"
                >
                <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressAddress2_{{ form.id }}"
                  name="address[address2]"
                  value="{{ form.address2 }}"
                  autocomplete="address-line2"
                  placeholder="{{ 'customer.addresses.address2' | t }}"
                >
                <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
              </div>
              <div class="d-flex align-items-baseline justify-content-space-between flex-wrap-wrap">
                <div class="field city_country">
                  <input
                    type="text"
                    id="AddressCity_{{ form.id }}"
                    name="address[city]"
                    value="{{ form.city }}"
                    autocomplete="address-level2"
                    placeholder="{{ 'customer.addresses.city' | t }}"
                  >
                  <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                </div>
                <div class="city_country city_country_mobile">
                  <label class="d-block letter-spacing-0px font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressCountry_{{ form.id }}">
                    {{ 'customer.addresses.country' | t }}
                  </label>
                  <div class="select">
                    <select
                      id="AddressCountry_{{ form.id }}"
                      name="address[country]"
                      data-address-country-select
                      data-default="{{ form.country }}"
                      data-form-id="{{ form.id }}"
                      autocomplete="country"
                    >
                      {{ all_country_option_tags }}
                    </select>
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                      <use href="#icon-caret" />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="province_container" id="AddressProvinceContainer_{{ form.id }}">
                <label class="letter-spacing-0px font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressProvince_{{ form.id }}">
                  {{ 'customer.addresses.province' | t }}
                </label>
                <div class="select">
                  <select
                    id="AddressProvince_{{ form.id }}"
                    name="address[province]"
                    data-default="{{ form.province }}"
                    autocomplete="address-level1"
                  ></select>
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <use href="#icon-caret" />
                  </svg>
                </div>
              </div>
              <div class="field">
                <input
                  type="text"
                  id="AddressZip_{{ form.id }}"
                  name="address[zip]"
                  value="{{ form.zip }}"
                  autocapitalize="characters"
                  autocomplete="postal-code"
                  placeholder="{{ 'customer.addresses.zip' | t }}"
                >
                <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
              </div>
              <div class="field">
                <input
                  type="tel"
                  id="AddressPhone_{{ form.id }}"
                  name="address[phone]"
                  value="{{ form.phone }}"
                  autocomplete="tel"
                  placeholder="{{ 'customer.addresses.phone' | t }}"
                >
                <label class="letter-spacing-0px label__account font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
              </div>
              <div >
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{ form.id }}">
                  {{ 'customer.addresses.set_default' | t }}
                </label>
              </div>
              <div class="btn_wrapper_address d-flex">
                <button class="btn_add_address padding-10px-18px font-family-Neuzeit Grotesk font-weight-700 font-size-18px line-height-21px color-black-000 letter-spacing-0px bg-color-off-white border-1px border-light-black-000 border-radius-37px text-transform-capitalize">{{ 'customer.addresses.update' | t }}</button>
                <button class="m-0px p-0px font-size-16px font-family-Neuzeit font-weight-300 color-dark-black line-height-1-4-px" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
              </div>
            {%- endform -%}
          </div>
        </li>
      {%- endfor -%}
    </ul>

    {%- if paginate.pages > 1 -%}
      {%- if paginate.parts.size > 0 -%}
        <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
          <ul role="list">
            {%- if paginate.previous -%}
              <li>
                <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                  </svg>
                </a>
              </li>
            {%- endif -%}

            {%- for part in paginate.parts -%}
              <li>
                {%- if part.is_link -%}
                  <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                    {{- part.title -}}
                  </a>
                {%- else -%}
                  {%- if part.title == paginate.current_page -%}
                    <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">
                      {{- part.title -}}
                    </span>
                  {%- else -%}
                    <span>{{ part.title }}</span>
                  {%- endif -%}
                {%- endif -%}
              </li>
            {%- endfor -%}

            {%- if paginate.next -%}
              <li>
                <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}">
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                  </svg>
                </a>
              </li>
            {%- endif -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

<script>
  window.addEventListener('load', () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  });
</script>

{% schema %}
{
  "name": "t:sections.main-addresses.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
<style>
  .page-width-addresses.addresses form {
    justify-content: space-between;
    border-bottom: 1px solid #121212;
    padding-bottom: 40px;
    margin-bottom: 40px;
    margin-top: 0px;
  }
  .template-customers-addresses .add_a_address {
    margin-bottom: 40px !important;
    margin-top: 0px !important;
        max-width: max-content !important;
  }
  .template-customers-addresses .customer button {
    min-width:auto;
    min-height:auto;
  }
  .template-customers-addresses .customer ul li button.edit_delete {
    margin: 0px !important;
  }
  .addresses ul {
    margin:0px !important;
  }
  .addresses ul li {
    margin:0px 0px 40px 0px !important;
  }
  /* .addresses ul li:last-child {
    margin:0px !important;
  } */
  .addresses li>h2, .customer.addresses>h1{
    margin: 0 0 17.5px;
  }
  .page-width-addresses {
    max-width: 1250px !important;
    padding: 0 40px !important;
    margin: 0 auto 90px !important;
  }
  .page-width-addresses .field{flex-direction: column-reverse;align-items: baseline;margin: 0 0 19.44444px !important;}
  .page-width-addresses .label__account{display: inline-block !important;position: unset !important;margin-bottom: 5px !important;}
  .page-width-addresses .field:after {
    box-shadow: none!important;
  }
  .customer.page-width-addresses .field input,.customer.page-width-addresses .select select {
    padding: 10px 18px;
    height: auto;
    margin: 0;
    border: 1px solid #121212;
    background-color: #0000;
    color: #121212;
    max-width: 100%;
    line-height: 1.2;
    border-radius: 2px;
  }
  .page-width-addresses.addresses form>div:nth-of-type(2){
    flex-basis: calc(50% - 15px);
  }
  .page-width-addresses.addresses form>div:nth-of-type(1) {
    flex-basis: calc(50% - 15px);
  }
  .addresses form>div:nth-of-type(7),.addresses form>div:nth-of-type(8) {
    margin-top: 0 !important;
    margin: 0 0 19.44444px !important;
  }
  .page-width-addresses.addresses input[type=checkbox]{
    margin:0px !important;
  }
  .btn_add_address {
    margin:20px 0px !important;
  }
  .city_country {
    width: 48.75%;
  }
  .addresses h2.add_new_address {
    margin-top: 0;
  }
  .edit_delete{
    padding: 8px 10px !important;
  }
  .city_country_mobile label {
    margin-bottom: 5px !important;
  }
  .edit_addresses {
    margin-top: 40px;
  }
  .btn_wrapper_address {
    width:100%;
  }
   .customer.addresses label{display:inline-block !important;}
  .template-customers-addresses .customer button[aria-expanded="true"] {
    display: none;
}
 /* .addresses ul.main_address_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    margin: 0px -7.5px !important;
}
  .addresses li.address_list {
    max-width: calc(33.33% - 15px);
    flex-basis: calc(33.33% - 15px);
    margin: 0px 7.5px 20px !important;
    background: #99bab6;
    padding: 10px 0;
    border-radius: 10px;
} */
  @media (max-width:989px){
    .page-width-addresses {
      padding: 0 30px !important;
      margin: 0 auto 40px !important;
    }
  }
  @media (max-width:749px){
    .page-width-addresses {
      padding: 0 15px !important;
    }
    .city_country {
      width: 100%;
    }
    .page-width-addresses.addresses form {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .page-width-addresses.addresses form>div:nth-of-type(1),.page-width-addresses.addresses form>div:nth-of-type(2) {
      flex-basis: 100%;
    }
    .city_country_mobile{
      margin: 0 0 19.44444px;
    }
    .template-customers-addresses .add_a_address {
      margin-bottom: 20px !important;
      padding: 8px 15px !important;
    }
    .addresses form button:first-of-type {
      padding: 8px 15px !important;
    }
    .edit_addresses {
      margin-top: 20px;
    }
    .addresses ul li {
      margin: 0px 0px 25px 0px !important;
    }
  }
</style>
