<style>
  .custom_contact .grid--half-gutters {
    margin-left: -15px;
    list-style: none;
    padding: 0;
}
.custom_contact .contact_pricing {
  float: left;
  width:100%;
  padding-left: 15px;
}
.custom_contact .medium-up--one-half {
  width: 50%;
}
.custom_contact label {
  display: block;
  margin-bottom: 5px;
}
.custom_contact .form-vertical input, .custom_contact .form-vertical select,.custom_contact .form-vertical .disclosure__toggle,.custom_contact .form-vertical textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #121212;
    background-color: #0000;
    color: #121212;
    max-width: 100%;
    line-height: 1.2;
    border-radius: 2px;
    padding: 10px 18px;
    font-size: 16px;
    font-family: 'Neuzeit Grotesk';
    font-style: normal;
    font-weight: 300;
}
.custom_contact button:after{
  box-shadow: none !important;
}
.custom_contact button{margin: 27px auto 0;}
.custom_contact{margin-bottom:100px;}
.custom_contact .contact_pricing select {appearance: none;background-image: url(https://cdn.shopify.com/s/files/1/0282/8425/6353/files/ico-select.svg?v=1714565387);
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;}

@media(max-width:1199px){
  .custom_contact{margin-bottom:60px;}
}
@media(max-width:989px){
  .custom_contact{margin-bottom:50px;}
}
@media(max-width:749px){
  .custom_contact{margin-bottom:30px;}
  .custom_contact .medium-up--one-half {width: 100%;}
}
</style>


<div class="page-width custom_contact">
  <div class="rte">
      <div class="contact-header">
          <h2>Contact Us</h2>
      </div>
      <div class="contact-form">
          <div class="form-vertical">
              {%- assign formId = 'ContactForm' -%}
              {% form 'contact', id: formId %}
                  {%- if form.posted_successfully? -%}
                      <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                          {% render 'icon-success' %}
                          {{ 'templates.contact.form.post_success' | t }}
                      </h2>
                  {%- elsif form.errors -%}
                      <div class="form__message">
                          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                              {% render 'icon-error' %}
                              {{ 'templates.contact.form.error_heading' | t }}
                          </h2>
                      </div>
                      <ul class="form-status-list caption-large" role="list">
                          <li>
                              <a href="#ContactForm-email" class="link">
                                  {{ form.errors.translated_fields.email | capitalize }}
                                  {{ form.errors.messages.email }}
                              </a>
                          </li>
                      </ul>
                  {%- endif -%}
                  <div class="grid--half-gutters">
                      <div class="contact_pricing medium-up--one-half">
                          <label for="{{ formId }}-name">{{- 'templates.contact.form.name' | t }}<span aria-hidden="true">*</span></label>
                          <input type="text" id="{{ formId }}-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" aria-required="true">
                      </div>
                      <div class="contact_pricing medium-up--one-half">
                          <label for="product">Type of Product</label>
                          <input type="text" id="product" name="contact['product']" value="" aria-required="true">
                      </div>
                      <div class="contact_pricing">
                          <label for="{{ formId }}-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
                          <input type="email" id="{{ formId }}-email" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" aria-required="true">
                          {%- if form.errors contains 'email' -%}
                              <small class="contact__field-error" id="ContactForm-email-error">
                                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                                  <span class="form__message">
                                      {% render 'icon-error' %}
                                      {{- form.errors.translated_fields.email | capitalize }}
                                      {{ form.errors.messages.email }}
                                  </span>
                              </small>
                          {%- endif -%}
                      </div>
                      <div class="contact_pricing medium-up--one-half">
                          <label for="quantity">Quantity</label>
                          <select id="quantity" name="contact[Quantity]" data-default="10">
                              <option>10</option>
                              <option>50</option>
                              <option>100</option>
                              <option>150</option>
                          </select>
                      </div>
                      <div class="contact_pricing medium-up--one-half">
                          <label for="AddressCountry">Location</label>
                          <select id="AddressCountry" name="contact[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
                      </div>
                  </div>
                  <div class="contact__button_wrapper text-align-center">
                      <button type="submit" class="submit_btn button bg-color-off-white border-1px border-light-black-000 border-radius-37px font-weight-700 color-black-000 line-height-21px font-size-18px font-family-Neuzeit p-11px-36px">
                         Submit
                      </button>
                  </div>
              {% endform %}
          </div>
      </div>
  </div>
</div>

{% schema %}
{
"name": "conatct",
"class": "contact",
"settings": [],
"presets": [	
{
"name": "pricing contact",
"category": "contact"
}
]
}
{% endschema %}